<html>
<head>    

    </head>
    
    <body>
        {{extend 'index_layout.html'}}

        <div style="position:relative;float:left;left:200px;width:800px;background-color:#F8F8F8;border-width:2px;border:solid;border-radius:15px;font-size:15px;">
            <!-- <table cellpadding="10" cellspacing="20" style="position:relative;float:left;margin-top:50px;left:100px;">
-->            
            
            <b style="position:relative;float:left;left:50px;font-size:20px;margin-top:30px;text-decoration:underline;"></b>
            <br/>
            
            <p style="margin-top:100px;">
                <b >About Us:-</b>
                <br/>
    The International Institute of Information Technology, Hyderabad (IIIT-H) is an autonomous university founded in 1998. It was set up as a not-for-profit public private partnership (N-PPP) and is the first IIIT to be set up (under this model) in India. The Government of Andhra Pradesh lent support to the institute by grant of land and buildings. A Governing Council consisting of eminent people from academia, industry and government presides over the governance of the institution.
            <br/>
                <br/>
IIIT-H was set up as a research university focused on the core areas of Information Technology, such as Computer Science, Electronics and Communications, and their applications in other domains. The institute evolved strong research programmes in a host of areas, with computation or IT providing the connecting thread, and with an emphasis on the development of technology and applications, which can be transferred for use to industry and society. This required carrying out basic research that can be used to solve real life problems. As a result, a synergistic relationship has come to exist at the Institute between basic and applied research. Faculty carries out a number of academic industrial projects, and a few companies have been incubated based on the research done at the Institute.
            <br/>
                <br/>
IIIT-H is organized as research centres and labs, instead of the conventional departments, to facilitate inter-disciplinary research and a seamless flow of knowledge within the Institute. Faculty assigned to the centers and labs conduct research, as well as academic programs, which are owned by the Institute, and not by individual research centers.
            <br/>
                <br/>
The Institute combines pioneering research with top class education. An innovative curriculum allows the student flexibility in selecting courses and projects. Students, even at the undergraduate level, get to participate in ongoing research and technology development - an opportunity unprecedented in India. As a result, a vibrant undergraduate programme co-exists with a strong postgraduate programme.
            <br/>
                <br/>
Recognizing that the goal of education is to develop a broad and humanistic outlook among students (and beyond), the Institute runs a unique human values programme at the undergraduate level. Regular faculty conducts the programme. Also, elements of the programme are made available to IIIT-H’s postgraduate students, faculty and students at other universities and colleges, and any interested individual or organization.
            <br/>
                <br/>
In sum, the Institute offers students a unique environment that promotes culture, sports, societal contributions, art, self-governance and human values.
            <br/>
                <br/>
It is also at the forefront of research that has the potential to make a major social impact.
            <br/>
                <br/>
            
            
</p>
            
            
        </div>
    </body>
</html>
