<html>
<head>    

    </head>
    
    <body>
        {{extend 'company_layout.html'}}

        <div style="position:relative;float:left;left:200px;width:800px;background-color:#F8F8F8;border-width:2px;border:solid;border-radius:15px;">
            <!-- <table cellpadding="10" cellspacing="20" style="position:relative;float:left;margin-top:50px;left:100px;">
-->                                    <form action="sendmail" method='post'>
                   <table cellpadding="20" cellspacing="20" style="font-size:15px;">
 <tr>
                    <td style="position:relative;float:left;left:300px;font-size:25px;text-decoration:underline;">Contact TPO</td>
                </tr>
          
          <tr>
              <td>Mail To:</td><td><label>jindal.manishkumar1@gmail.com</label></td>
          </tr>
          <tr>
              <td>Subject:</td><td><input type="text" name="subject"></td>
          </tr>
           <tr>
               <td>Message:</td><td><textarea name="msg" rows="10" cols="40"></textarea></td>
          </tr>
          
            </table>
                        <input type="submit" value="send" style="position:relative;float:left;left:200px;">
                    </form>
        </div>
    </body>
</html>
